<html>

<head>
    {% block head %}
        <title>TYTUŁ STRONY</title>
    {% endblock %}
</head>

<body>
{% block nav %}
    <div style="display: flex">
        <div style="text-align: left;width: 50%">
            <a href="/" title="Lista">HomePage</a>
            <a href="/article" title="Lista">Article list</a>
            <a href="/about" title="Lista">About me</a>
        </div>
        <div style="text-align: right;width: 50%">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="/logout" title="Lista">Logout</a>
            {% else %}
                <a href="/login" title="Lista">Login</a>
                <a href="/register" title="Lista">Register</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <h1>HELLO</h1>
    <p>TODO: Sonda</p>
    <p>TODO: Pagination</p>
{#    {% for poll in polls %}#}
{#        <p>Poll</p>#}
{#        <p>Question:</br> {{ poll.question }}</p>#}
{#        {% for answer in poll.pollanswers %}#}
{#        <p>{{ answer }}</p>#}
{#        {% endfor %}#}
{#    {% endfor %}#}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>