<html>

<head>
    {% block head %}
        <title>TYTUŁ STRONY</title>
    {% endblock %}
</head>

<body>
{% block nav %}
    <div>
        <a href="/" title="Lista">HomePage</a>
        <a href="/article" title="Lista">Article list</a>
        <a href="/login" title="Lista">Login</a>
        <a href="/about" title="Lista">About me</a>
    </div>
{% endblock %}
{% block content %}
    <h1>HELLO</h1>
    <p>TODO: Pełny widok artykułu, osobna strona dla każdego artykułu</p>
    <p>TODO: Logowanie i security</p>
    <p>TODO: Komentarze i sonda</p>
{% endblock %}
</body>
</html>